{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error", {'endOfLine': 'auto'}],
	'func-names':'off',
	'no-undef':'off',
	'no-console':'off',
	'no-param-reassign':'off'
  },
}